.button {
  opacity: 1;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  transition: opacity 0.15s ease-in;
}

.button:hover {
  opacity: 0.6;
}

.button:focus {
  outline: none;
}

.button:active {
  outline: none;
}