.footer__copyright {
  width: 100%;
  margin: 0 0 60px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}