.button_type_edit {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: url(../../../images/Edit-Button.svg) no-repeat;
  background-size: contain;
  padding: 0;
  border: none;
  box-shadow: none;
}

@media screen and (max-width: 900px) {
  .button_type_edit {
    position: absolute;
    right: -28px;
    bottom: 20px;
    width: 18px;
    height: 18px;
  }
}